html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  background-color: #e8e2ff;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 0 0 0.5rem black;
  padding: 0.5rem 1rem;
  background-color: #6d4bf2;
  box-shadow: 0 0 1rem black;
}

#hero {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  font-variant: small-caps;
  font-family: "Tinos", sans-serif;
}

.nav-link {
  padding: 1rem 2rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 2rem 0;
  padding: 0 2rem;
  padding-bottom: 4rem;
}

footer {
  background-color: #5239b4;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  text-shadow: 0 0 0.5rem black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
